<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "店名" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :telephone, "電話番号" %><br>
    <%= f.text_field :telephone, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :web, "ホームページ" %><br>
    <%= f.text_field :web, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :image_url, "お店画像" %><br>
    <%= f.text_field :image_url, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit  class: 'btn btn-default' %>
  </div>
<% end %>
